<h1>Listing paypal transactions</h1>

<table>
  <tr>
    <th>Uid</th>
    <th>PayKey</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paypaltransactions.each do |paypaltransaction| %>
  <tr>
    <td><%= paypaltransaction.uid %></td>
    <td><%= paypaltransaction.payKey %></td>
    <td><%= paypaltransaction.amount %></td>
    <td><%= link_to 'Show', paypaltransaction %></td>
    <td><%= link_to 'Show', paypaltransaction %></td>
    <td><%= link_to 'Edit', edit_paypaltransaction_path(paypaltransaction) %></td>
    <td><%= link_to 'Destroy', paypaltransaction, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Badge', new_paypaltransaction_path %>